{% extends "base.html.twig" %}

{% block body %}
    <h2>Bonjour {{prenom ~ " " ~ nom}}</h2>
    <a href="{{path('app_bonjour', {nom:'Fontaine', prenom:'Jean'})}}">Jean Fontaine</a>
    <br>
    <a href="{{path('app_hello', {username:'John'})}}">John Doe</a>
{% endblock %}